# ============================================================
# DATASET
# ============================================================

dataset/


# ============================================================
# PYTHON CACHE
# ============================================================

__pycache__/
*.py[cod]
*$py.class


# ============================================================
# VIRTUAL ENVIRONMENTS
# ============================================================

.venv/
venv/
venv_app/
env/



# ============================================================
# JUPYTER NOTEBOOK CHECKPOINTS
# ============================================================

.ipynb_checkpoints/


# ============================================================
# TRAINED MODEL FILES
# ============================================================

models/*.h5
models/*.keras
models/*.hdf5
models/*.pt
models/*.pth


# ============================================================
# ENVIRONMENT / SECRET FILES
# ============================================================

.env


# ============================================================
# VS CODE
# ============================================================

.vscode/


# ============================================================
# OPERATING SYSTEM FILES
# ============================================================

.DS_Store
Thumbs.db
desktop.ini
uploads/
